* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #2b283a;
}

nav {
  background-color: #f2a987;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 55px;
}

nav img {
  width: 24px;
}

h1 {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 15px;
  letter-spacing: 0.03rem;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 840px;
}

.card-container {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container > img {
  flex-shrink: 0;
  width: 125px;
  height: 175px;
  border-radius: 10px;
  object-fit: cover;
}

section {
  margin: 30px 0 20px 30px;
}

.location-container {
  margin-bottom: 5px;
}

.location-container img {
  height: 11px;
  object-fit: contain;
  margin-right: 5px;
}

.location-container span {
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 30px;
}

.location-container a {
  color: #918e9b;
  font-size: 0.6rem;
  text-wrap: nowrap;
}

.date {
  font-size: 0.7rem;
  font-weight: bold;
}

.description {
  font-size: 0.85rem;
  line-height: 130%;
}

hr {
  border: 0;
  background-color: rgb(203, 203, 203);
  height: 0.1rem;
}

.container:nth-child(3) hr {
  display: none;
}

@media only screen and (max-width: 850px) {
  h2 {
    margin-bottom: 5px;
  }

  section {
    margin: 10px 0 10px 30px;
  }

  .description {
    font-size: 0.75rem;
    line-height: 110%;
  }
}
